extends layout 

block content 
    h1= title 

    form(method='POST' action='')
        .form-group 
            label(for='name') Category: 
            input#name.form-control(type='text', placeholder='Fish, Furniture, etc.' name='name' value=(undefined===category ? '' : category.name))

            label(for='description') Description: 
            input#description.form-control(type='text', placeholder="General description..." name='description' value=(undefined===category ? '' : category.description))
        button.btn-submit(type='submit') Create Category
    
    if errors 
        ul 
            for error in errors 
                li!= error.msg

