doctype html
html(lang="en")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul.main-nav-list
        li
          a(href="/") Home
        li 
          a(href="/category/create") Create Category
        li 
          a(href="/p/all") All Items
        li 
          a(href="/p/create") Create Item
    block content
