body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.items-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.items-container .category-item {
  border: 1px solid black;
  border-radius: 16px;
}

.items-container a {
  color: inherit;
  text-decoration: none;
}

.items {
  display: grid;
  gap: 24px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.items a {
  color: inherit;
  text-decoration: none;
}

.item {
  border: 1px solid black;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item div {
  display: flex;
  justify-content: space-between;
}
