body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.items-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.items-container .category-item {
  border: 1px solid black;
  border-radius: 16px;
}
