body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;

  background-image: url(/images/background.jpg);
  background-size: cover;
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: Roboto;
}

a {
  color: #00b7ff;
}

h1.category-name {
  font-size: 36px;
  margin: 0;
  margin-top: 12px;
  color: white;
}

p.category-desc {
  font-size: 24px;
  color: white;
}

.items-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.items-container .category-item {
  border: 1px solid black;
  border-radius: 16px;
}

.items-container a {
  color: inherit;
  text-decoration: none;
}

.items {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: rgba(255, 236, 255, 0.474);
  padding: 16px;
  border-radius: 16px;
  backdrop-filter: blur(4px);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.27);
}

.items a {
  color: inherit;
  text-decoration: none;
}

.item {
  border: 1px solid rgba(255, 255, 255, 0.427);
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.474);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.27);
}

.item div {
  display: flex;
  justify-content: space-between;
}

.delete-container-popup {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.336);
}

.delete-popup {
  background-color: rgba(156, 148, 159, 0.474);
  border: 1px solid rgba(173, 173, 173, 0.404);
  width: 300px;

  border-radius: 16px;
  backdrop-filter: blur(6px);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.delete-popup p {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.delete-popup .delete-button-group {
  margin-top: 16px;
  display: flex;
  width: 100%;
  gap: 12px;
}

.delete-popup .delete-button-group button {
  flex: 1 1 50%;

  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.474);
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
}

.main-nav-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: black;
  gap: 52px;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.main-nav-list a {
  color: inherit;
  text-decoration: none;
}

.index-container h1,
h2 {
  margin: 0;
}

.index-container {
  background-color: rgba(153, 153, 153, 0.474);
  padding: 16px;
  border-radius: 24px;
  backdrop-filter: blur(4px);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.27);
  margin-top: 52px;
  border: 1px solid rgba(168, 168, 168, 0.848);

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.glass-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 12px;
}

.glass-container ul a {
  color: inherit;
  text-decoration: underline;
}

.glass-container {
  background-color: rgba(217, 217, 217, 0.474);
  padding: 16px;
  border-radius: 24px;

  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.27);

  border: 1px solid rgba(168, 168, 168, 0.848);
}

.actions {
  display: flex;
  gap: 36px;
  margin-top: 14px;
}

.actions a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
